name: Development & Test Build

on:
  workflow_dispatch:
  push:
    branches:
      - development
      - test
      - 'feature/*'
      - 'bug/*'

jobs:
  maven-build:
    name: Maven Build and Push To Repository
    uses: marcelrgberger/org-ci-config/.github/workflows/maven-build.yaml@main
    with:
      branch: ${{ github.ref_name }}
      repository: ${{ github.repository }}
      java_version: 21
    secrets:
      deploy_github_token: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
